@model IEnumerable<HotelGestionale.Models.Servizi>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-2 text-white">Tutti i servizi</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Crea</a>
</p>
<table class="table myBG p-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenotazione)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataServizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenotazione.ID)
            </td>
        </tr>
}
    </tbody>
</table>
